<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197037384810-934c6p6bagutbm4v719kd8barmfmt50s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197037384810-934c6p6bagutbm4v719kd8barmfmt50s</string>
	<key>API_KEY</key>
	<string>AIzaSyDR-IXbTbigPlg98W9sd-mAoK19KOtJxiw</string>
	<key>GCM_SENDER_ID</key>
	<string>197037384810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.makaryoMobile</string>
	<key>PROJECT_ID</key>
	<string>makaryo-e8662</string>
	<key>STORAGE_BUCKET</key>
	<string>makaryo-e8662.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197037384810:ios:72fe4e16ddfb4952019613</string>
	<key>DATABASE_URL</key>
	<string>https://makaryo-e8662.firebaseio.com</string>
</dict>
</plist>